Video Reference : https://www.youtube.com/watch?v=sHw5hLYFaIw

In [1]:
# Library used for patter matching
import re

## Retrieve order number

chat2='codebasics: I have a problem with my order number 412889912'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat2)
matches

In [4]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [5]:
# Creating a function to enter a "pattern" and to match it in the "text"
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [6]:
get_pattern_match('order[^\d]*(\d*)', chat1)

'412889912'

## Retrieve Email id and phone number

In [7]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

-----Email ID-----

In [9]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat1)

'abc@xyz.com'

In [10]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat2)

'abc@xyz.com'

In [11]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat3)

'abc@xyz.com'

------Phone-Number------

In [37]:
re.findall('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})', chat1)

[('1235678912', '')]

In [13]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat1)

('1235678912', '')

In [14]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})', chat2)

('', '(123)-567-8912')

In [15]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})', chat3)

('1235678912', '')

Code to remove the empty string space in the phone number output('1235678912', ''). This occured because we are using  | (or) in 

regex ((\d{10}) | (\(\d{3}\)-\d{3}-\d{4})).

In [ ]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    for i in matches:
        if len(i[0]) != 0:
            return i[0]
        else:
            return i[1]

## Regex for information Extraction

In [18]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [19]:
abc = get_pattern_match(r'age (\d+)', text)

'abc' : int(abc)

'50'

In [21]:

get_pattern_match(r'Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [22]:
get_pattern_match(r'Born.*\n(.*)\(age', text).strip()

'June 28, 1971'

In [23]:
get_pattern_match(r'\(age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [25]:
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [26]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [27]:
text_new = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [28]:
extract_personal_information(text_new)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}